.card {
  position: relative;
  height: 19rem;
}

.image {
  background-size: cover;
  background-position: center;
  transition: transform 500ms ease;
  height: 100%;
  position: absolute;
  top: 0rem;
  right: 0rem;
  left: 0rem;
  bottom: 0rem;
  border-radius: 1rem;
}

.overlay {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.85) 90%
  );
  border-radius: 1rem;
}

.content {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}
